<div class="home-container">
  <h1 class="border border-gray-300 rounded-lg p-4 bg-perso-emerald text-white">
    {{ olympic?.country }}
  </h1>
  <div class="home-container">
    <!-- Conteneur pour les statistiques -->
    <div class="flex justify-center gap-4 mb-4">
      <div
        class="border border-perso-emerald border-2 rounded-lg p-4 text-center"
      >
        Number of entries <br />
        test
      </div>
      <div
        class="border border-perso-emerald border-2 rounded-lg p-4 text-center"
      >
        Total number of medals <br />
        test
      </div>
      <div
        class="border border-perso-emerald border-2 rounded-lg p-4 text-center"
      >
        Total number of athletes <br />
        test
      </div>
    </div>
    <!-- Vérifie que les données sont disponibles avant d'afficher le graphique -->
  </div>
</div>
