<!-- <div class="home-container">
  <div class="flex justify-center gap-4 mb-4">
    <div
      class="border border-perso-emerald border-2 rounded-lg p-4 text-center"
    >
      Number of JOs <br />
      {{ nombreDeJO }}
    </div>
    <div
      class="border border-perso-emerald border-2 rounded-lg p-4 text-center"
    >
      Number of coutries <br />
      {{ nombreDePays }}
    </div>
  </div>
  <div class="chart-container">
    <canvas id="pieChart"></canvas>
  </div>

  <p *ngIf="olympicsData.length === 0">Chargement des données...</p>
</div> -->

<div *ngFor="let item of stats">
  <p>{{ item.label }}</p>
  <p>{{ item.value }}</p>
</div>
